header {
  background-color: darkslateblue;
  padding: 3px;
}

footer {
  position: absolute;
  background-color: darkslateblue;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
}

h3 {
  color: white;
  margin-left: 5px;
}

input {
  margin: 5px;
}

button {
  margin: 5px;
}

#impressum{
  color: white;
}

.center {
  text-align: center;
}

.tooltipIcon {
  height: 1em;
}

.standardBlock {
  padding: 10px;
}

.floatRight {
  float: right;
}
